* {
  background-color: black;
  color: white;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  align-items: center;
  justify-content: space-between;
  border: white dotted;
  color: white;
  display: flex;
  height: 60px;
  padding: 10px;
}

nav a {
  display: inline-block;
  margin: 1em;
  border: white dotted;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  height: 100px;
  width: 100px;
}

button {
  margin: 1em;
  background-color: blue;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}

#products-container {
  display: flex;
  border: pink dotted;
  flex-wrap: wrap;
}

.product {
  border: blue dotted;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  min-height: 250px;
  min-width: 250px;
  margin: 1em;
  padding: 0.5em;
}
